.app-wrapper{
  display: grid;

  grid-template-areas: 
  "header header header"
  "about_me posts last_photos"
  "footer footer footer";
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 100px;
  grid-gap: 10px;

  max-width: 1250px;
  margin:0 auto;
  padding: 50px 0 0 0;
}






